@tailwind base;
@tailwind components;
@tailwind utilities;

/* Rush University Design System */
:root {
  --color-light: #ffffff;
  --color-dark: #171717;
  --rush-legacy-green: #006332;
  --rush-vitality-green: #2DDA8E;
  --rush-gold: #FFC600;
  --rush-dark-grey: #333333;
  --rush-light-sage: #F2F6F3;
}

.accent-text {
  @apply text-slate-600;
}

body {
  font-family:
    "Georgia",
    "Times New Roman",
    serif;
  color: var(--rush-dark-grey);
  background: var(--color-light);
}

/* only use this to update the style of the auth input fields. use a different class for all other input fields */
.auth-input-field {
  @apply w-full px-4 py-3 rounded-container bg-white border border-gray-200 focus:border-primary focus:ring-1 focus:ring-primary outline-none transition-shadow shadow-sm hover:shadow;
}

/* only use this to update the style of the auth buttons. use the button class for all other buttons */
.auth-button {
  @apply w-full px-4 py-3 rounded bg-rush-legacy-green text-white font-semibold hover:bg-rush-legacy-green/90 transition-colors shadow-sm hover:shadow disabled:opacity-50 disabled:cursor-not-allowed;
}
